<!-- main -->

<section id="company">

  <div class="container main d-flex align-item-center justify-content-center ">
    <div class="row  justify-content-center section">

      <div class="d-flex col-md-12 col-lg-12 section__container">
        <ul class="overview">
          <li>
            <p style="color: #db444d; font-size: 1.5em">Company Overview</p>
          </li>
          <li>
            <i class="fas fa-code"></i> <span>Microservices Software Development</span>
          </li>
          <li>
            <i class="fas fa-database"></i> <span>Big Data Management</span>
          </li>
          <li>
            <i class="fas fa-cloud"></i> <span>Cloud DevOps</span>
          </li>
          <li>
            <i class="fab fa-bitcoin"></i> <span>Blockchains, Cryptocurrencies and Smart Contracts</span>
          </li>
          <li>
            <i class="fas fa-info-circle"></i> <span>Information Technology and Security Consulting</span>
          </li>
        </ul>

        <ul class="overview__middle">
          <li><img class="img-responsive company-boutique" src="assets/img/company.gif" alt="company-image"></li>
        </ul>
      </div>

      <!--<div class="col-md-12 col-lg-4 slogan">-->
        <!--<ul>-->
          <!--<li>-->
            <!--"No matter where you are, we deliver and support products and solutions for you. Adionalab has a focus on-->
            <!--the Digital needs of the 21st century."-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--              <ul style="list-style-type:none" class="col-4">
                       <li style="width: 100%">
                         <img class="img-responsive company-boutique" src="assets/img/company.gif" alt="company-image">
                       </li>
                     </ul> -->
      <!--                 <ul class="col-md-12 col-lg-4 slogan">

                        <li>
                        </li>
                      </ul> -->

    </div>
  </div>

  <!-- mission -->
  <div class="bg_primary">
    <div class="container mission">
      <h1 class="mission__title">Mission</h1>
      <div class="row mission-row">
        <div class="col-md-8 d-flex flex-column  align-items-center">
          <ul class="mission__text">
            <li class="mission__text__title">
              <i class="fas fa-handshake"></i> <span>Confidence</span>
            </li>
            <ul>
              <li>We are assured of own forces and are ready to overcoming of any obstacles for solution of the
                challenges.
                This
                confidence is grounded on our possibilities and real reachings that allows us to assume serious
                obligations,
                to bear responsibility for result and we always remain winners.
              </li>
            </ul>
          </ul>
          <ul class="mission__text">
            <li class="mission__text__title">
              <i class="fas fa-check"></i> <span>Professionalism</span>
            </li>
            <ul>
              <li>We are in constant search of new possibilities for achievement of the best results. We invest in
                development of
                high technologies and we are the first to apply them in our solutions for clients. We are constantly
                improving
                and put into practice new ideas that change the information technology world. We use talent, knowledge
                and
                skills
                of our employees in reaching of objects in view.
              </li>
            </ul>
          </ul>
          <ul class="mission__text">
            <li class="mission__text__title">
              <i class="fas fa-chart-line"></i> <span>Productivity</span>
            </li>
            <ul>
              <li>We are assured of own forces and are ready to overcoming of any obstacles for solution of the
                challenges.
                This
                confidence is grounded on our possibilities and real reachings that allows us to assume serious
                obligations,
                to bear responsibility for result and we always remain winners.
              </li>
            </ul>
          </ul>
          <ul class="mission__text">
            <li class="mission__text__title">
              <i class="fab fa-searchengin"></i> <span>Future-proof Engineering</span>
            </li>
            <ul>
              <li>We are assured of own forces and are ready to overcoming of any obstacles for solution of the
                challenges.
                This
                confidence is grounded on our possibilities and real reachings that allows us to assume serious
                obligations,
                to bear responsibility for result and we always remain winners.
              </li>
            </ul>
          </ul>
        </div>
        <div class="col-md-12 col-lg-4  d-flex align-items-center ">
          <img class="img-responsive mission__img" src="assets/svg/software_engineers.svg" alt="mission-image">
        </div>
      </div>
    </div>
  </div>


  <!-- vision -->


  <div class="container vision">
    <h1 class="vision__title">Vision</h1>
    <div class="row">
      <div class="col-md-5 col-12 d-flex align-items-center justify-content-center d-flex flex-column">
        <img class="img-responsive" src="assets/img/vision.gif" width="400" height="400" alt="mission-image">
      </div>
      <div style="margin-top: 40px;" class="col-md-7">
        <ul class="vision__text">
          <li class="vision__text__title">
            <i class="fas fa-lightbulb"></i> <span>Microservices Driven Solutions</span>
          </li>
          <ul>
            <li>Software solutions designed as Microservices allow for manageable and agile solution architectures that
              are easily
              adapted to changing the business needs.
            </li>
          </ul>
        </ul>
        <ul class="vision__text">
          <li class="vision__text__title">
            <i class="fas fa-database"></i> <span>Big Data Distributed Computing</span>
          </li>
          <ul>
            <li>Big Data solutions in contrast to proprietary vendors’ products allow to process high volume of data
              near
              real
              time to gain new business insight and enable management to make better business decisions, identify
              business
              opportunities, improve sales processes and increase revenues.
            </li>
          </ul>
        </ul>
        <ul class="vision__text">
          <li class="vision__text__title">
            <i class="fas fa-cloud"></i> <span>Cloud Managed Services</span>
          </li>
          <ul>
            <li>Using cloud infrastructures allows for immediate commencing of continuous development and integration
              with
              on demand
              access to scalable computing resources.
            </li>
          </ul>
        </ul>
        <ul class="vision__text">
          <li class="vision__text__title">
            <i class="fab fa-bitcoin"></i> <span>Blockchain</span>
          </li>
          <ul>
            <li>Blockchain is a new and advancing technology, which has uses in many areas and applications. The most
              important
              feature of blockchain is the obviation of need for a central authority in multi-party applications,
              especially
              where users do not inherently trust each other.
            </li>
          </ul>
        </ul>
        <ul class="vision__text">
          <li class="vision__text__title">
            <i class="fas fa-comments"></i> <span>Consulting</span>
          </li>
          <ul>
            <li>Traditionally, business has difficulties with explaining its needs to IT and vice versa, IT does not
              always follow
              business requirements. Bringing best practices, we advise processes and technologies that will improve
              customer’s
              business.
            </li>
          </ul>
        </ul>
      </div>

    </div>
  </div>

  <!-- services -->

  <div class="services bg_primary">
    <div class="container">
      <h1 class="services__title">Services</h1>
      <div class="row justify-content-center">
        <ul class="services__text col-md-4">
          <li>
            <i class="fas fa-code"></i> Software Development
          </li>
          <ul>
            <li>UI/UX design</li>
            <li>Web and Mobile Applications</li>
            <li>RESTful Services</li>
          </ul>
        </ul>
        <ul class="services__text col-md-4">
          <li>
            <i class="fas fa-database"></i> Data Management
          </li>
          <ul>
            <li>NoSQL and Relational Data Modeling</li>
            <li>Big Data Enterprise Data Warehousing</li>
            <li>Stream and batch data processing pipelines</li>
            <li>Classical BI – reports, dashboards, scorecards</li>
            <li>Advanced BI - Data Mining, Predictive Analytics</li>
          </ul>
        </ul>
        <ul class="services__text col-md-4">
          <li>
            <i class="fas fa-comments"></i> Consulting
          </li>
          <ul>
            <li>Cloud infrastructure audits</li>
            <li>Data Analysis</li>
            <li>Business Process Modeling</li>
          </ul>
        </ul>

        <ul class="services__text col-md-4">
          <li>
            <i class="fas fa-cloud"></i> Cloud Deployment and Support
          </li>
          <ul>
            <li>Google, AWS, Azure, IBM Cloud, CenturyLink, OpenStack</li>
            <li>Deployment, migrations, configuration, monitoring and maintenance</li>
          </ul>
        </ul>
        <ul class="services__text col-md-4">
          <li>
            <i class="fas fa-cogs"></i> DevOps
          </li>
          <ul>
            <li>Setting up and managing your CD/CI environment</li>
            <li>Automation: creation and support with Open Source tools (Ansible, Chef, Kubernetes, Docker, etc.)</li>
          </ul>
        </ul>
        <ul class="services__text col-md-4">
          <li>
            <i class="fab fa-bitcoin"></i> Blockchain and Cryptocurrency Support
          </li>
          <ul>
            <li>Smart Contract, Blockchain Custom Development, Deployment, Post-Deployment SLA O&M</li>
          </ul>
        </ul>
      </div>
    </div>
  </div>

  <!-- company -->


  <div class="container solution">
    <div class="row flex-column">
      <h1 class="solution__title">Solutions</h1><br/><br/>
      <img src="assets/img/solution/solution_slide.png" alt="" width="100%">
      <br/><br/>
      <img src="assets/img/solution/AdionaLabSulutions_slide_1.png" alt="" width="100%">
      <br/><br/>
      <img src="assets/img/solution/AdionaLabSulutions_slide_2.png" alt="" width="100%">
    </div>
  </div>

  <div class="blockchain bg_primary">
    <div class="container blockchain_container">
      <h1 class="blockchain__title">Hadoop Big Data Ecosystem</h1>
      <br/><br/>
      <div class="row justify-content-center">
        <div class="col-item col-md-6">
          <h3>Two key services</h3>
          <p>The Hadoop platform consists of two key services: a reliable, distributed file system and the
            high-performance parallel data processing engine.</p>
        </div>
        <div class="col-item col-md-6">
          <h3>Approach</h3>
          <p>The combination of distributed file system and MapReduce programming paradigm provides a software framework
            for processing vast amounts of data in parallel on large clusters of commodity hardware in a reliable,
            fault-tolerant manner.</p>
        </div>
        <div class="col-item col-md-6">
          <h3>Other tools</h3>
          <p>The Hadoop ecosystem includes other tools to address particular needs. Hive is a SQL dialect and engine to
            translate a Business Logic to MapReduce jobs behind higher-level abstractions more appropriate for user
            goals. Zookeeper is used for federating services. ORC, Parquet, Avro, Thrift and Protobuf are
            platform-portable data serialization and description formats.</p>
        </div>
        <div class="col-item col-md-6">
          <h3>In-memory analytics</h3>
          <p>Apache Spark is a data analytics cluster computing framework of Hadoop open-source community, building on
            top of the Hadoop Distributed File System (HDFS). Spark solves similar problems as Hadoop MapReduce does but
            with a fast in-memory approach and a clean functional style API.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container solution">
    <div class="row flex-column">
      <img src="assets/img/solution/AdionaLabSulutions_slide_3.png" alt="" width="100%">
    </div>
  </div>
  <!-- blockchain -->

  <div class="blockchain bg_primary">
    <div class="container blockchain_container">
      <h1 class="blockchain__title">Blockchain (CB) Toolkit ™</h1>
      <p class="blockchain__description">Blockchain Toolkit is a set of tools that helps integrating blockchain
        networks,
        <br/>such as Ethereum and Bitcoin, and simplifies management of your digital assets</p>
      <div class="row justify-content-center">
        <div class="col-item col-md-4">
          <h3>Why CB Toolkit?</h3>
          <p>Connecting and using blockchains has never been easy, especially for non-tech users. With Adionalab
            Blockchain Toolkit ™ you can greatly simplify your experience with the Blockchain “universe”.</p>
        </div>
        <div class="col-item col-md-4">
          <h3>CB CyberWallet ™</h3>
          <p>There are many crypto wallets out there. Why have another one? CB CyberWallet adds programmatic access to
            your Bitcoins, Ethers and tokens. And with CB ChainReactor ™, your wallet can now “talk” to the other
            environments.</p>
        </div>
        <div class="col-item col-md-4">
          <h3>CB ChainReactor ™</h3>
          <p>CB ChainReactor listens for blockchain events that you define, and fires actions that you configure.
            Connected to CB CyberWallet, it can watch your wallets for changes and react accordingly.</p>
        </div>
        <div class="col-item col-md-4">
          <h3>CB Keyonix ™</h3>
          <p>In the world of crypto, securing your digital assets becomes a crucial demand. Keyonix is a
            multi-signature, M-to-N secure key storage that safely stores your precious keys in a highly protected
            environment</p>
        </div>

        <div class="col-item col-md-4">
          <h3>CB CyberEscrow ™</h3>
          <p>Not only your keys, but other digital assets require careful storage. Protected by Keyonix, CyberEscrow
            will secure your digital assets forever*. * As long as Amazon Glacier lasts. Which we believe is
            forever.</p>
        </div>
        <div class="col-item col-md-4">
          <h3>CB CyberWill ™</h3>
          <p>Unfortunately, life is short and can unpredictably cease. In the world of digital assets, what is your plan
            for uncertainties? Protect those who you love, use CyberWill to ensure they get access to your digital
            assets if something happens to you.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container company">
    <div class="row">
      <div class="col col-12">
        <h1 class="company__title">About Us</h1>
        <ul class="company__text">
          <li>Adionalab is innovative, Web Services and Microservices architecture oriented, Big Data ecosystem cloud
            based, focused
            on online E-commerce, Blockchain, Data Warehousing, Business Intelligence and Analytical services development
            and
            integration company that provides client-tailored solutions.
          </li>
          <li>With a unique blend of market knowledge and technological expertise, we provide a range of services that
            help
            clients
            attain their strategic objectives.
          </li>
          <li>We understand that our service is paramount to each company's enhanced efficiency, revenue growth, and cost
            reduction.
          </li>
          <li>Our services are grouped into the following categories:<br/>
            Cloud Services, Web & Mobile Applications, Microservices, Data Warehousing, Data Processing and Business
            Intelligence,
            Predictive Analytics and Data Mining.
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- footer -->
  <app-footer></app-footer>
</section>




