@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Geo');
@import url('https://fonts.googleapis.com/css?family=Teko:600');
@import url('https://fonts.googleapis.com/css?family=Quantico');
.overview {
    padding-top: 2em;
    list-style-type: none;
    font-family: 'Quantico', sans-serif;
    font-size: 1.2em;
    line-height: 50px;
    font-weight: bold;
 
    li:last-child {
        margin-top: 30px;
    }
    a {
        background: #04bb86;
        padding: 15px;
        color: #48535a;
        text-decoration: none;
        &:hover {
            color: black;
            transition: 0.2s;
        }
    }

}

.slogan {
  //  padding-top: 2em;
    list-style-type: none;
    font-family: 'Quantico', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.company {
    // background: #213a4b; // height: 500px;
    background: #ffffff;
    display: flex;
    align-items: center;
    &__text {
        padding-top: 50px;
        color: black;
        width: 70%;
        margin: 0 auto;
        font-size: 1.3em;
        font-family: 'Quantico';
        list-style-type: circle;
        padding-bottom: 50px;
       
    }
    &__title {
        margin: 0 auto;
        color: #db444d;
        border-bottom: 4px dashed black;
        padding-bottom: 10px;
        font-family: 'Quantico';
        width: 120px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
}

.services {
    background: #213a4b;
    color: white;
    &__title {
        display: flex;
        justify-content: center;
        width: 120px;
        margin: 0 auto;
        border-bottom: 4px dashed white;
        padding-bottom: 10px;
        font-family: 'Quantico';
        //    color: ##db444d;
        font-weight: bold;
        color: #db444d;

}
    &__text {
        list-style-type: none;
        margin-top: 30px;
        font-family: 'Quantico';
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &>li {
            font-family: 'Quantico';
            font-weight: bolder;
        }
    }
}

.mission {
    background: #0097c1;
    &__title {
        display: flex;
        justify-content: center;
        width: 100px;
        margin: 0 auto;
        border-bottom: 4px dashed white;
        padding-bottom: 30px;
        font-family: 'Quantico';
        padding: 0;
        color: #db444d;
        font-weight: bold;

    }
    &__text {
        font-family: 'Quantico';
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        text-align: left;
        list-style-type: none;
        width: 30em;
        color: white;
        &>li {
            font-family: 'Quantico';
            font-weight: bolder;
            text-align: center;
        }
    }
}

.vision {
    background: #f4f4f4;
    &__title {
        display: flex;
        justify-content: center;
        width: 70px;
        margin: 0 auto;
        border-bottom: 4px dashed black;
        padding-bottom: 30px;
        font-family: 'Quantico';
        padding: 0;
        color: #db444d;
        font-weight: bold;

    }
    &__text {
        font-family: 'Quantico';
        display: flex;
        flex-direction: column;
        justify-content: center; //  padding-top: 50px;
        text-align: left;
        list-style-type: none;
        &>li {
            font-family: 'Quantico';
            font-weight: bolder;
            text-align: center;
        }
    }
}

@media (max-width: 1027px) {
    .mission {
        &__text {
            width: 21em;
            padding-left: 0;
        }
    img {
        margin:  0 auto;
    }
    }
}

svg:not(:root).svg-inline--fa {
    color: #ff5a5b;
}