.get_in_touch{
  background: #362f38;
  width: 100%;
  min-height: 50px;
  text-align: center;
  white-space: pre-line;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  h3{
    color: #db444d;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
}
.footer {
  background: #2f2831;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  list-style: none;
  font-family: arial;
  text-align: center;
  margin: 0;
  font-size: 14px;
  position: absolute;
  width: 100%;
}
