.footer {
    background: #2f2831;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    list-style: none;
    font-family: 'Quantico';
    text-align: center;
    margin: 0;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
