<div class="container">
    <form role="form " action="" method="">
            <h1 class="form-title">Contuct Us</h1>

      <div class="form-group">
        <label for="name"></label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
        <!--placing icon using a span element-->
        <span class="icon fa fa-user fa-lg"></span>
      </div>
  
      <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required>
        <span class="icon fa fa-envelope fa-lg"></span>
      </div>

      <div class="form-group">
        <textarea rows="5" cols="30" id="msg" name="msg" placeholder="Message" style="width:100%"></textarea>
        <span class="icon-textarea fa fa-paper-plane fa-lg "></span>
      </div>
  
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
  
  </div>

  <app-footer></app-footer>
