@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Geo');
@import url('https://fonts.googleapis.com/css?family=Teko:600');
@import url('https://fonts.googleapis.com/css?family=Quantico');

.blockchain {
  font-family: 'Quantico';
  color: black;
  padding-top: 90px;
  padding-bottom: 30px;
  &__title {
    text-align: center;
    margin: 0 auto;
  }
  &__paragraph {
    text-align: center;
    font-weight: bold;
    width: 50%;
    margin: 0 auto;
  }

  p {
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    color: #db444d;
  }

  &__content {
    margin-top: 30px;
    ul {
      padding: 0;
      list-style-type: none;
    }
  }

  li {
    width: 35%;
    margin: 0 auto;
    color: black;
  }

}

