<div class="cointainer-fluid blockchain">
  <div class="flex-column">
    <h1 class="blockchain__title">Cyberionix Blockchain (CB) Toolkit ™</h1>
    <p class="blockchain__paragraph">	Cyberionix Blockchain Toolkit is a set of tools that helps integrating blockchain networks, such as Ethereum and Bitcoin, and simplifies management of your digital assets</p>

    <div class="blockchain__content">
        <p>Why CB Toolkit?</p>
        <ul>
          <li>Connecting and using blockchains has never been easy, especially for non-tech users.
              With Cyberionix Blockchain Toolkit ™ you can greatly simplify your experience with the Blockchain “universe”.
          </li>
        </ul>
      <p style="margin-top: 30px;">What’s in the CB Toolkit ™?</p>
      <p>CB CyberWallet ™</p>
        <ul>
          <li>There are many crypto wallets out there. Why have another one?
              CB CyberWallet adds programmatic access to your Bitcoins, Ethers and tokens.
              And with CB ChainReactor ™, your wallet can now “talk” to the other environments.
          </li>
        </ul>
      <p>CB ChainReactor ™</p>
        <ul>
          <li>CB ChainReactor listens for blockchain events that you define, and fires actions that you configure. Connected to CB CyberWallet, it can watch your wallets for changes and react accordingly.
          </li>
        </ul>
      <p>CB Keyonix ™</p>
        <ul>
          <li>In the world of crypto, securing your digital assets becomes a crucial demand.
              Keyonix is a multi-signature, M-to-N secure key storage that safely stores your precious keys in a highly protected environment
          </li>
        </ul>
      <p>CB CyberEscrow ™</p>
        <ul>
          <li>Not only your keys, but other digital assets require careful storage.
              Protected by Keyonix, CyberEscrow will secure your digital assets forever*.
              * As long as Amazon Glacier lasts. Which we believe is forever.
          </li>
        </ul>
      <p>CB CyberWill ™</p>
        <ul>
          <li>Unfortunately, life is short and can unpredictably cease. In the world of digital assets, what is your plan for uncertainties?
              Protect those who you love, use CyberWill to ensure they get access to your digital assets if something happens to you.
          </li>
        </ul>
    </div>

  </div>
</div>

<!-- <div class="container content">
  <div class="row flex-column">
    <p>Why CB Toolkit?</p>
      <ul>
        <li>Connecting and using blockchains has never been easy, especially for non-tech users.
            With Cyberionix Blockchain Toolkit ™ you can greatly simplify your experience with the Blockchain “universe”.
        </li>
      </ul>
    <p>What’s in the CB Toolkit ™?</p>
    <p>CB CyberWallet ™</p>
      <ul>
        <li>There are many crypto wallets out there. Why have another one?
            CB CyberWallet adds programmatic access to your Bitcoins, Ethers and tokens.
            And with CB ChainReactor ™, your wallet can now “talk” to the other environments.
        </li>
      </ul>
    <p>CB ChainReactor ™</p>
      <ul>
        <li>CB ChainReactor listens for blockchain events that you define, and fires actions that you configure. Connected to CB CyberWallet, it can watch your wallets for changes and react accordingly.
        </li>
      </ul>
    <p>CB Keyonix ™</p>
      <ul>
        <li>In the world of crypto, securing your digital assets becomes a crucial demand.
            Keyonix is a multi-signature, M-to-N secure key storage that safely stores your precious keys in a highly protected environment
        </li>
      </ul>
    <p>CB CyberEscrow ™</p>
      <ul>
        <li>Not only your keys, but other digital assets require careful storage.
            Protected by Keyonix, CyberEscrow will secure your digital assets forever*.
            * As long as Amazon Glacier lasts. Which we believe is forever.
        </li>
      </ul>
    <p>CB CyberWill ™</p>
      <ul>
        <li>Unfortunately, life is short and can unpredictably cease. In the world of digital assets, what is your plan for uncertainties?
            Protect those who you love, use CyberWill to ensure they get access to your digital assets if something happens to you.
        </li>
      </ul>

  </div>
</div> -->
