@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Geo');
@import url('https://fonts.googleapis.com/css?family=Teko:600');
@import url('https://fonts.googleapis.com/css?family=Quantico');

.blockchain {
  font-family: arial;
  color: black;
  padding-top: 90px;
  padding-bottom: 30px;
  &__title {
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;

  }
  &__paragraph {
    text-align: center;
    font-weight: bold;
    width: 36%;
    margin: 0 auto;
  }

  p {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #db444d;
  }

  &__content {
    margin-top: 30px;
    ul {
      padding: 0;
      list-style-type: none;
    }
  }

  li {
    width: 30%;
    margin: 0 auto;
    color: black;
  }

}

@media (max-width: 1027px) {
  .blockchain {
    &__paragraph, li {
      width: 79%;
    }
  }
}
