@import "../smart-grid";

.container-fluid {
  padding: 0;
}

.navbar-wrapper {
  display: flex;
}

.navbar-toggler-button {
  background: url(../assets/img/burger.png) no-repeat center transparent;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
  border: 0;

  @media (min-width: 992px) {
    display: none;
  }
}
.global-nav {
  background: #2f2831 !important;
  line-height: 1.1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.navbar {
  padding: 0 !important;

  span {
    color: #ffc200;
  }
}

.navbar-brand {
  font-family: 'Geo';
  font-size: 3em;
  color: white !important;
}

.navbar-nav {
  font-family: arial;
  font-size: 1.7em;
  font-weight: bolder;
  white-space: nowrap;
  .active-link {
    color: #ffc200 !important

  }
  .nav-link {
    color: white;

    &:hover {
      color: #ffc200;
    }
  }
}

.footer {
  background: #2f2831;
  padding-top: 30px;
  padding-bottom: 30px;
  h3 {
    color: white;
    list-style: none;
    font-family: arial;
    text-align: center;
    margin: 0;
    font-size: 20px;
  }
}

//fonts
@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight');
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');
@import url('https://fonts.googleapis.com/css?family=Geo');
@import url('https://fonts.googleapis.com/css?family=Oswald|Timmana');
@import url('https://fonts.googleapis.com/css?family=Quantico');

//responcive @media
@media (max-width: 768px) {
  .navbar-brand {
    margin-left: 0;
  }
}
