<section id="solutions">
        <div class="container solutions">
                <div class="row justify-content-center">
              
                    <div class="d-flex align-items-center flex-column article">
                        <h1 class="d-flex justify-content-center"><span class="solutions__title">BigData Management Platform</span></h1>
                        <img class="img-responsive" src="assets/img/bigdata_management_platform.png" alt="bigdata_management_platform">
                    </div>
              
                    <div class="d-flex align-items-center flex-column article">
                        <h1 class="d-flex justify-content-center"><span class="solutions__title">DataMarts Management System</span></h1>
                        <p><span>Cyberionix DataMart Management System</span> – Our proprietary system for modeling and high-volume data-processing is based on flexible scheduling. The system allows engineers to store and execute HiveQL, BigQuery and SQL queries.</p>
                        <img class="img-responsive" src="assets/img/datamarts_management_system.png" alt="datamarts_management_system">
                      </div>
                      
                      <div class="d-flex align-items-center flex-column article">
                          <h1 class="d-flex justify-content-center"><span class="solutions__title">NoETL Process eXecutor</span></h1>
                          <p><span>Cyberionix NoETL Applied Process eXecutor</span> – Data Processing platform based on Apache projects technologies.</p>
                          <img src="assets/img/noetl_process_executor.png"  alt="noetl_process_executor">
                      </div>
              
                         <div class="col-md-12 text-center article"><span class="noetl-title">Master Data Management</span></div>
                      
                          <ul style="color: #515151" class="col-md-6">
                              
                              <li><span>CMDM (Cyberionix Master Data Management)</span> <br> – platform for effective dimensional information management. <br><span>CMDM allows:</span></li>         
                              <li>Describe dimensions structure</li>
                              <li>Using dimensions while cleansing and validating data</li>
                              <li>Store dimensional data</li>
                              <li>Provide dimensional data to external systems</li>
                              <li>Search, review and edit dimensional data</li>
                          </ul>
                            <ul class="col-md-6"><span>CMDM</span> is a foundation for creating effective business processes and enables to:
                                <li><span>Automate</span> collaboration of information sub-systems of the organization which use dimensional information;</li>
                                <li><span>Conform</span> dimensional  information across all company branches;</li>
                                <li><span>Enable</span> role based access to dimensional information;</li>
                                <li><span>Eliminate</span> duplicates and ambiguity, ensure referential integrity and conformity of dimensional data across all levels within organization.</li>
                            </ul>
                            <img src="assets/img/master_data_management.png" style="height: 10%" alt="master_data_management">
                
                      <div class="d-flex align-items-center flex-column article">
                          <h1 class="d-flex justify-content-center"><span class="solutions__title">Dashboard</span></h1>
                          <p><span>Cyberionix Dashboard</span> – is a system designed for displaying key technical and financial indicators on iOS and Android mobile devices.
                            Dashboard allows to obtain the most important information about the facts actual and historical state in the most convenient view.
                          </p>
                          <img src="assets/img/dashboard.png" alt="dashboard">
                      </div>
              
                </div>
              </div>
              
              <app-footer></app-footer>
</section>
